:root{
  --image-width: 200;
  --image-height: 200;
}

body{
  background-color: #FFF2D7;
}

.card-link{
  height: var(--image-height);
  width: var(--image-width);
}

.card-main {
  padding: 1rem 1rem 0.5rem 1rem;
  border: 0.5.rem;
  background-color: #FFFFF0;
}

.main {
  padding: 1.5rem;
}

.nav-link {
  color: #1D5B79;
  font: 0.2rem;
  font-size: 1.15rem;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.recipe-card {
  color: #1D5B79;
  font: 0.2rem;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}

.recipe-name {
  padding: 0.5rem;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #1D5B79;
}



@media  only screen and (min-width:   749px) {
  .recipe-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 5rem;
      justify-self: center;
    }
}

@media only screen and (min-width: 750px) {
  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2.5rem;
    justify-items: center;
    align-items: center;
  }

  .card-image {
    height: var(--image-height);
    width: var(--image-width);
    object-fit: cover;
    border: 0.375rem;
  }
}

@media only screen and (min-width: 1500px) {
  .card-image {
      border: 0.375rem;
      object-fit: contain;
    }

    .recipe-card{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
    }

  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 1.5rem;
  }
}